html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
    position: relative;
    color: #211922;
    font-size: 12px;
    font-family: "Sofia";
}
header{
    position: fixed;
    width: 100%;
    font-family: "Sofia";
}
a{
    color: #333;
    text-decoration: none;
}
input{
    line-height: normal;
}
input {
    margin: 0;
    vertical-align: middle;
}
.box-header {
    background-color: #fff;
}
.message {
    display: flex;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #111;
}

.nav {
    display: flex;    
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    flex-direction: column;    
}
.Cn {
    padding-top: 4px;
    padding-bottom: 4px;
}
.Bx {
    box-sizing: border-box;
}
.Al {
    align-items: center;
}
.Fr {
    display: flex;
    flex-direction: row;
}
.Fc {
    display: flex;
    flex-direction: column;
}
.Fwh {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}
.Cp {
    cursor: pointer;
}
.Hg {
    height: 100%;
}
.sh:hover {
    background-color: #efefef;
}
.Bb:focus {
    box-shadow: 0 0 0 4px rgb(0, 132, 255, .5);
    outline: 0;
}
.nav .nav-box {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
.nav-items {
    width: 100%;
    height: 56px;
}
.nav .logo {
    height: 48px;
    width: 48px;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
}
.nav .nav-box-text {
    height: 48px;
    border-radius: 24px;
}
.Th:hover {
    background-color: rgb(255, 255, 255);
}
.Tx {
    white-space: nowrap;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}
.nav-Text {
    color: #111;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.Rd-a {
    border-radius: 24px;
    display: flex;
    height: 100%;
    width: 100%;
}
.box-search {
    min-width: 407px;
    padding-left: 8px;
    padding-right: 8px;
}
.nav-Search {
    padding: 0 4px 0 16px;
    height: 100%;
    position: relative;
    background-color: #efefef;
    border-radius: 24px;
    
}
.input-search {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    outline: none;
    padding: 0;
    width: 100%;
}
.in:hover {
    background-color: #d2cccc;
}
.ico-search {
    display: block;
    color: #767676;
    fill: currentColor;
    stroke-width: 0;
}
.Ry {
    background: #d8d8d8;
    border-radius: 1px;
    height: 32px;
    width: 2px;
    margin-left: auto;
}
.box-filters {
    height: 48px;
    margin-left: 8px;
    flex: 0 0 auto;
    position: relative;
    border-radius: 24px;
}
.bhF:hover {
    background-color: rgba(0, 0, 0, 0.06);
}
.Bf {
    border-radius: 24px;
    height: 100%;
}
.search-filters{
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    height: 48px;
    overflow: hidden;
}
.filters-text {
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}
.fil-tx {
    text-align: left;
    color: #111;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: 700;
}